
/*=============================================
=           10: footer CSS         =
=============================================*/
.footer-area{
    position: relative;
    .bottom-shape{
        top: auto;
        bottom: 0;
    }
}


/* ==== 10.1: Contact Form =====*/

.contact-form{
    position: relative;
    z-index: 2;
    padding: 50px 95px;
    box-shadow: 0 10px 60px rgba(0, 0, 0, 0.15);
    @extend .color-white-bg;
    @include mobileLg{
        padding: 25px 50px;
    }
    .contact-top{
        max-width: 550px;
        margin: 0 auto;
    }
    .contact-icon{
        width: 90px;
        height: 90px;
        line-height: 90px;
        border-radius: 50%;
        position: relative;
        margin: 0 auto;
        margin-bottom: 35px;
        &:after{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            content: "";
            opacity: .1;
            @extend .v-gradient-2;
        }
        
    }
    h4{
        margin-bottom: 25px;
        font-size: 30px;
        font-weight: $semi-bold;
        @include mobileSm{
            font-size: 20px;
        }
    }
    p{
        font-size: 15x;
        margin-bottom: 25px;
    }
    .form-row{
        .site-btn{
            margin-left: 5px;
        }
    }
    .form-element{
        margin-bottom: 20px;
       .textarea{
           min-height: 130px;
       } 
    }
}

/*=====  10.2: Footer Bottom ====*/
.footer-bottom{
    padding: 35px 0;
    @include tab{
        text-align: center;
    }
    @include mobileSm{
        padding: 10px 0;
    }
}
.copyright-text{
    p{
        font-size: 14px;
        @extend .color-white;
        a{
            transition: .35s;
            &:hover{
                @extend .color-white;
            }
        }
    }
}

.social-links{
    &.text-right{
        @include tab{
            margin-top: 15px;
            text-align: center !important;
        }
        @include mobileSm{
            margin-top: 8px;
        }
    }
    ul{
        li{
            display: inline-block;
            &:not(:last-child){
                margin-right: 8px;
            }
            a{
                display: inline-block;
                position: relative;
                width: 40px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                border-radius: 50%;
                opacity: .6;
                @extend .color-white;
                &:after{
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    opacity: .1;
                    content: "";
                    @extend .color-white-bg;
                }
                &:hover{
                    opacity: 1;
                }
            }
        }
    }
}
	

/*=====  End of footer ======*/


