/*=============================================
=            Resume CSS            =
=============================================*/

.work-list-wrap{
    box-shadow: 0 20px 80px rgba(0, 0, 0, 0.1);
    margin-bottom: 70px;
    .owl-dots{
        position: absolute;
        left: 50%;
        margin-left: -50px;
        bottom: -70px;
    }
}
/*=====  Single Work  ======*/

.single-work{
    @extend .h-gradient-2;
    .work-details{
        flex: 0 0 50%;
        padding: 50px;
        @extend .color-white;
        @include mobileLg{
            flex: 0 0 100%;
        }
        .office-name{
            font-size: 16px;
            font-weight: $medium;
            margin-bottom: 10px;
            @extend .color-white;
        }
        .date-meta{
            font-size: 14px;
            margin-bottom: 8px;
            opacity: .7;
        }
        .designation{
            font-size: 24px;
            font-weight: $semi-bold;
            margin-bottom: 25px;
            @extend .color-white;
        }
        .work-text{
            p{
                opacity: .7;
            }
        }
    }
    .work-img{
        flex: 0 0 50%;
        @include mobileLg{
            display: none;
        }
        @extend .color-white-bg;
        img{
            width: auto !important;
        }
    }
}