
<!-- Start Offcanvas Shade -->
<div class="shade"></div>
<!-- End of Offcanvas Shade -->

<!-- Start Offcanvas Menu -->
<div class="offcanvas-menu">
<!--  Start Offcanvas Logo -->
    <div class="offcanvas-logo">
        <img src="assets/images/small-logo.png" alt="">
    </div>
    <!-- End of Offcanvas Logo -->
    <!-- Start Cancel Button -->
    <div class="offcanvas-cancel">
        <i class="fa fa-times"></i>
    </div>
    <!-- End of Cancel Button -->
    <div class="offcanvas-menu-inner">
        
    </div>
</div>
<!-- End of Offcanvas Menu -->

<!-- Start Header Area -->
<header class="site-header">
    <!-- Start Header Inner -->
    <div class="header-inner">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-2 col-md-4 col-6">
                    <!-- Start Logo  -->
                    <div class="logo">
                        <a href="#">
                            <img src="assets/img/logo.png" alt="UrKis">
                        </a>
                    </div>
                    <!-- End of Logo -->
                </div>
                <div class="col-lg-10 col-md-8 col-6">
                    <div class="main-menu-inner">
                        <!-- Start Main Menu -->
                        <div class="main-menu text-right">
                            <nav>
                                <ul>
                                    <li class="active"><a href="#home"> Home</a></li>
                                    <li><a  href="#about">About</a></li>
                                    <li><a href="#services">Services</a></li>
                                    <li><a href="#portfolio">Portfolio</a></li>
                                    <li><a href="#blog">Blog</a></li>
                                    <li><a href="#contact">Contact</a></li>
                                </ul>
                            </nav>
                            
                        </div>
                        <!-- End of Main Menu -->
                        <span class="menu-trigger d-lg-none pull-right">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Header Inner -->
</header>
<!-- End of Header Area -->

