<!-- Start Footer Area -->

<footer class="footer-area  section-gap--inner--top--r130">
    <!-- Start Footer Shape -->
    <div class="shape bottom-shape footer-shape">
        <img src="assets/img/shapes/footer-shape.png" alt="Footer Shape">
    </div>
    <!-- End of Footer Shape -->
    <!-- Footer Top -->
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Start COntact Form -->
                    <div class="contact-form text-center">
                        <div class="shape top-shape contact-shape">
                            <img src="assets/img/shapes/contact-shape.png" alt="Shape">
                        </div>
                        <div class="contact-icon">
                            <img src="assets/img/icons/contact-icon.png" alt="Contact">
                        </div>
                        <div class="contact-top">
                            <h4>Interested to work with me</h4>
                            <p>Nemo enim ipsam voluptatem quia voluptas aspernatur blandit tempus standard porttitor maxime.</p>
                        </div>
                        <form action="#">
                            <div class="form-row">
                                <div class="col-lg-6">
                                    <div class="form-element">
                                        <input type="text" placeholder="Your Name" name="name">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-element">
                                        <input type="email" placeholder="Your Email" name="email">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-12">
                                    <textarea name="work" placeholder="Description of Work"></textarea>
                                </div>
                            </div>
                            <div class="form-row justify-content-center">
                                <a href="#" class="site-btn theme-2">Let's Talk</a>
                            </div>
                        </form>
                    </div>
                    <!-- ENd of Contact Form -->
                </div>
            </div>
        </div>
    </div>
    <!-- End of Footer Top -->
    <!-- Start Footer Bottom -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="copyright-text">
                        <p>© 2019. All Rights Reserved. Created by <a href="#">AazzTech</a></p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="social-links text-right">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Footer Bottom -->
</footer>

<!-- End of Footer Area -->

<!-- Start Back to Top -->
<div class="backToTop">
    <a href="#">
        <i class="fa fa-angle-up"></i>
    </a>
</div>
<!-- End of Back to Top -->