/*=============================================
=           06: About CSS            =
=============================================*/
.about-area{
    .section-title{
        @include tab{
            text-align: center;
        }
    }
    .shape{
        @include mobileLg{
            display: none;
        } 
    }
}
/*=====  6.1: About Content  ======*/

.about-content{
    @include tab{
        text-align: center;
    }
    .site-btn{
        margin-top: 14px;
    }
}

/*===== 6.2: Skill Block  ======*/

.skill-list {
    @include tab{
        margin-top: 30px;
    }
    &.pull-right{
        @include tab{
            float: none !important;
        }
        
    }
}
.single-skill-block{
    flex: 0 0 50%;
}
.single-skill-block + .single-skill-block{
    margin-left: 40px;
    @include mobileSm{
        margin-left: 15px;
    } 
}
.skill-circle{
    position: relative;
    text-align: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 20px 80px rgba(0, 0, 0, 0.1);
    @extend .color-white-bg;
    @include mobileMd{
        width: 150px;
        height: 150px;
    }
    @include mobileSm{
        width: 130px;
        height: 130px;
    }
    .skill-ratio{
        position: absolute;
        top: 15px;
        left: 15px;
        img{
            @include mobileMd{
                max-width: 120px;
            } 
            @include mobileXs{
                max-width: 100px;
            }
        }
    }
    h6{
        font-size: 15px;
        font-weight: $regular;
        max-width: 86px;
    }
}

.skill-circle + .skill-circle{
    margin-top: 50px;
}