/*=============================================
=          06:  Banner CSS            =
=============================================*/

.banner-inner{
    position: relative;
    padding-top: 174px;
    padding-bottom: 90px;
    .banner-shape{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        @include mobileLg{
            left: -40%;
        }
        @include mobileSm{
            left: -80%;
        }
    }

    .banner-pattern{
        @include mobileSm{
            display: none;
        }
        .icon{
            position: absolute;
            &.icon-one{
                top: 225px;
                right: 18%;
            }
            &.icon-two{
                top: 52%;
                right: 8%;
            }
            &.icon-three{
                top: 120px;
                right: 0%;
            }
        }
    }
}

/*=====  6.1: Banner Content  ======*/
.banner-content{
    @include tab{
        margin-bottom: 30px;
        text-align: center;
    }
    .intro-text{
        font-size: 48px;
        line-height: 1.26;
        @extend .theme-text;
        @include mobileMd{
            font-size: 36px;
        }
        @include mobileSm{
            font-size: 30px;
        }
    }
    span{
        font-size: 60px;
        line-height: 1.58;
        @include mobileMd{
            font-size: 50px;
        }
        @include mobileSm{
            font-size: 32px;
        }
    }
    span + span {
        display: block;
    }
    .pink-text{
        @extend .theme-default;
    }
    p{
        max-width: 370px;
        margin-bottom: 0;
        @include tab{
            margin: 0 auto;
        }
    }
    .site-btn{
        margin-top: 30px;
    }
}

.banner-img{
    @include tab{
        text-align: center
    }
}