
/*=============================================
=            05: Header            =
=============================================*/

.header-inner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    @include tab{
        padding: 15px 0;
    }
}

/*===== 5.1: Main Menu  ======*/
.main-menu{
    ul{
        li{
            display: inline-block;
            &:not(:last-child){
                margin-right: 24px;
            }
            a{
                font-size: 14px;
                padding: 30px 0;
                &:hover{
                    @extend .theme-default;
                }
            }
        }
    }
}

.menu-trigger{
    display: none;
    cursor: pointer;
    @include tab{
        display: block;
    }
    span{
        width: 25px;
		height: 2px;
		display: block;
		@extend .theme-heading-bg;
		&:not(:last-child){
            margin-bottom: 6px;
        }
    }
    &:hover{
        span{
            &:nth-child(2){
                width: 25px;
            }
        }
    }
}

/*====  5.2: Mobile Menu =====*/

.offcanvas-menu{
    position: fixed;
	z-index: 999;
	background-color: #fff; 
	box-shadow: 0 21px 81px rgba(0, 0, 0, 0.1);
	z-index: -1;
	height: 100%;
	width: 320px;
	top: 0;
	right: -100%;
	opacity: 0;
	overflow: auto;
    transition: .7s;
    &.show{
        opacity: 1;
        width: 300px;
        height: 100%;
        z-index: 9999;
        top: 0;
        right: 0;
        bottom: 0;
    }
    .offcanvas-close{
        position: absolute;
        left: 10px;
        top: 10px;
        line-height: 1.3;
        background-color: $danger;
        z-index: 9999;
        .close-icon{
            width: 30px;
            height: 30px;
            position: relative;
            display: inline-block;
        
            &:after , &:before{
                position: absolute;
                left: 15px;
                top: 8px;
                width: 2px;
                height: 18px;
                content: "";
                transform: rotate(45deg);
                @extend .color-white-bg;
            }
            &:before{
                transform: rotate(-45deg);
            }
        }
    }
}
			
				
.offcanvas-menu-inner{
    position: relative;
    .main-menu{
        padding-top: 60px;
        &.text-right{
            text-align: left !important;
        }
        ul{
            flex-flow: column;
            justify-content: start !important;
            align-items: flex-start !important;
            li{
                display: block;
                margin-bottom: 0;
                padding: 0px;
                border-bottom: 1px solid #e7e7e7;
                position: relative;
                width: 100%;
                &.has-sub-menu{
                    .submenu-button{
                        position: absolute;
                        right: 0;
                        height: 25px;
                        width: 25px;
                        top: 13.5px;
                        cursor: pointer;
                        &:after{
                            position: absolute;
                            right: 30px;
                            top:0;
                            display: block;
                            font-family: "FontAwesome";
                            content: "\f107";
                        }
                        &.sub-menu-oppened{
                            &:after{
                                content: "\f106";
                            }
                        }
                    }
                }
                &:first-child{
                    border-top: 1px solid #e7e7e7
                }
                    
                &:last-child{
                    margin-bottom: 0
                }

                a{
                    display: inline-block;
                    font-size: 16px;
                    font-weight: $medium;
                    padding: 15px;
                    width: 100%;
                    img{
                        max-width: 100px
                    }
                    &:after{
                        display: none
                    }
                        
                    &:hover{
                        @extend .theme-default;
                    }
                }
                >ul{
                    display: none;
                    padding: 0;
                    position: static;
                    opacity: 1;
                    visibility: visible;
                    box-shadow: 0 0;
                    li{
                        a{
                            margin: 0;
                            padding: 10px 0;
                            &:after{
                                bottom: 20px;
                                width: 100%;
                            }
                        } 
                    }
                }
                ul{
                    padding-left: 20px;
                    width: 100%;
                    li{
                        &.has-sub-menu{
                            .submenu-button{
                                position: absolute;
                                right: 0;
                                height: 25px;
                                width: 25px;
                                top: 8.5px;
                                cursor: pointer;
                                &:after{
                                    position: absolute;
                                    right: 30px;
                                    top:0;
                                    display: block;
                                    font-family: "FontAwesome";
                                    content: "\f107";
                                }
                                &.sub-menu-oppened{
                                    &:after{
                                        content: "\f106";
                                    }
                                }
                            }
                        }
                    }
                    
                } 
            }
        }
    }
    
}

.offcanvas-cancel{
    display: inline-block;
    padding: 2px 10px;
    background-color: $danger;
    @extend .color-white;
    i{
        font-size: 18px;
    }
}



/*=====  End of Header  ======*/