/*=============================================
=           08: Service CSS            =
=============================================*/

/*=====  8.1: Single Service  ======*/

.single-service{
    max-width: 350px;
    margin: 0 auto;
    margin-bottom: 30px;
    border-radius: 3px;
    padding: 40px 30px;
    padding-bottom: 32px;
    box-shadow: 0 5px 60px rgba(0, 0, 0, 0.1);
    position: relative;
    &:hover{
        .service-icon{
            img{
                transform: rotate(360deg);
            }
        }
    }
    .service-icon{
        display: inline-block;
        margin-bottom: 25px;
        width: 90px;
        height: 90px;
        line-height: 90px;
        text-align: center;
        border-radius: 50%;
        @extend .v-gradient-1;
            img{
                transition: 1s;
        }
        &.theme-2{
            @extend .v-gradient-3;
        }
        &.theme-3{
            @extend .v-gradient-4;
        }
        &.theme-4{
            @extend .v-gradient-5;
        }
        &.theme-5{
            @extend .v-gradient-6;
        }
        &.theme-6{
            @extend .v-gradient-7;
        }
    }
    .service-shape{
        position: absolute;
        left: 0;
        top: 0;
    }
    .service-content{
        h4{
            font-size: 18px;
            margin-bottom: 20px;
            font-weight: $regular;
        }
    }
}