<!-- Start About Area -->
<section class="about-area section-gap--inner--top--r130 position-relative">
    <!-- Start Section Shape  -->
    <div class="shape shape-right section-shape">
        <img src="assets/img/shapes/orbital-shape.png" alt="section Shape">
    </div>
    <!-- End of Section Shape -->
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <!-- Start Section Title -->
                <div class="section-title">
                    <h1>About</h1>
                    <h6>My Biography</h6>
                </div>
                <!-- End of Section Title -->
                <!-- Start About Content -->
                <div class="about-content">
                    <p>
                        Nemo enim ipsam voluptatem quia voluptas aspernatur blandit tempus porttitor maxime consequuntur magni dolores eosqu ratio ne voluptatem sequi nesciunt. Kenim ipsam voluptatem quia vo luptas aspernatur blandit tempus porttitor maxime consequuntur magni dolores eosqu ratione voluptatem.
                    </p>
                    <a href="#" class="site-btn theme-2"><i class="fa fa-arrow-circle-down"></i>Download CV</a>
                </div>
                <!-- End of About Content -->
            </div>
            <div class="col-lg-6">
                <div class="skill-list d-flex align-items-center pull-right">
                    <!-- Start Single Skill Block -->
                    <div class="single-skill-block">
                        <!-- Start Skill Circle -->
                        <div class="skill-circle d-flex align-items-center justify-content-center">
                            <div class="skill-ratio">
                                <img src="assets/img/skills/ux-ratio.png" alt="Skill Ration">
                            </div>
                            <h6>User Experience</h6>
                        </div>
                        <!-- End of Skill Circle -->
                    </div>
                    <!-- End of Single Skill Block -->
                    <!-- Start Single Skill Block -->
                    <div class="single-skill-block">
                        <!-- Start Skill Circle -->
                        <div class="skill-circle d-flex align-items-center justify-content-center">
                            <div class="skill-ratio">
                                <img src="assets/img/skills/ui-ratio.png" alt="Skill Ration">
                            </div>
                            <h6>User Interface</h6>
                        </div>
                        <!-- End of Skill Circle -->
                        <!-- Start Skill Circle -->
                        <div class="skill-circle d-flex align-items-center justify-content-center">
                            <div class="skill-ratio">
                                <img src="assets/img/skills/branding-ratio.png" alt="Skill Ration">
                            </div>
                            <h6>Branding</h6>
                        </div>
                        <!-- End of Skill Circle -->
                    </div>
                    <!-- End of Single Skill Block -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End of About Area -->