<!-- Start Banner Area  -->

<section class="banner-area">
    <!-- Start Banner Inner -->
    <div class="banner-inner light-gray-bg">
        <!-- Start Banner Shape -->
        <div class="banner-shape">
            <img src="assets/img/banner-shape.png" alt="Urkis Shape">
        </div>
        <!-- End of Banner Shape -->
        <!-- Start Banner Pattern -->
        <div class="banner-pattern">
            <div class="icon icon-one">
                <img src="assets/img/pattern/circle.png" alt="Urkis Icon">
            </div>
            <div class="icon icon-two">
                <img src="assets/img/pattern/star.png" alt="Urkis Icon">
            </div>
            <div class="icon icon-three">
                <img src="assets/img/pattern/double-shape.png" alt="Urkis Icon">
            </div>
        </div>
        <!-- End of Banner Pattern -->
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <!-- Start Banner Content -->
                    <div class="banner-content">
                        <h3>
                            <span class="intro-text">Hello , </span>
                            <span>
                                    This is <span class="pink-text">Urkis</span>
                            </span>
                        </h3>
                        <p>
                            Create your online portfolio within minutes with the Urkis.
                        </p>
                        <a href="#" class="site-btn">Hire Me Now</a>
                    </div>
                    <!-- End of Banner Content -->
                </div>
                <div class="col-lg-6">
                    <!-- Start Banner Image -->
                    <div class="banner-img">
                        <img src="assets/img/banner-img.png" alt="Urkis Banner">
                    </div>
                    <!-- End of Banner Image -->
                </div>
            </div>
        </div>
    </div>
    <!-- End of Banner Inner -->
</section>

<!-- End of Banner Area -->