<!-- Start Resume Area -->
<section class="resume-area position-relative section-gap--inner--top--r130 section-gap--inner--bottom--r100">
    <!-- Start Shape -->
    <div class="shape bottom-shape resume-shape">
        <img src="assets/img/shapes/resume-shape.png" alt="Resume Shape">
    </div>
    <!-- End of Shape -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Start Section Title -->
                <div class="section-title text-center">
                    <h1>Resume</h1>
                    <h6>My Work History</h6>
                </div>
                <!-- End of Section Title -->
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <!-- Start Work List Wrap -->
                <div class="work-list-wrap">
                    <div class="work-list-slider owl-carousel"  data-owl-items="1" data-owl-dots="true" data-owl-animate="fadeOut">
                        <!-- Start Single Work -->
                        <div class="single-work d-flex">
                            <!-- Start Work Details -->
                            <div class="work-details">
                                <h6 class="office-name">Google</h6>
                                <span class="date-meta">OCT 2014 - JUNE 2017</span>
                                <h5 class="designation">UI/UX Designer</h5>
                                <div class="work-text">
                                    <p>
                                        Nemo enim ipsam voluptatem quia voluptas aspernatur blandit tempus porttitor maxime denounce.
                                    </p>
                                </div>
                            </div>
                            <!-- End of Work Details -->
                            <!-- Start Work Img -->
                            <div class="work-img d-flex justify-content-center align-items-center text-center">
                                <img src="assets/img/resumes/1.png" alt="Urkis Resume">
                            </div>
                            <!-- End of Work Img -->
                        </div>
                        <!-- End of Single Work -->
                        <!-- Start Single Work -->
                        <div class="single-work d-flex">
                            <!-- Start Work Details -->
                            <div class="work-details">
                                <h6 class="office-name">Google</h6>
                                <span class="date-meta">OCT 2014 - JUNE 2017</span>
                                <h5 class="designation">UI/UX Designer</h5>
                                <div class="work-text">
                                    <p>
                                        Nemo enim ipsam voluptatem quia voluptas aspernatur blandit tempus porttitor maxime denounce.
                                    </p>
                                </div>
                            </div>
                            <!-- End of Work Details -->
                            <!-- Start Work Img -->
                            <div class="work-img d-flex justify-content-center align-items-center text-center">
                                <img src="assets/img/resumes/1.png" alt="Urkis Resume">
                            </div>
                            <!-- End of Work Img -->
                        </div>
                        <!-- End of Single Work -->
                        <!-- Start Single Work -->
                        <div class="single-work d-flex">
                            <!-- Start Work Details -->
                            <div class="work-details">
                                <h6 class="office-name">Google</h6>
                                <span class="date-meta">OCT 2014 - JUNE 2017</span>
                                <h5 class="designation">UI/UX Designer</h5>
                                <div class="work-text">
                                    <p>
                                        Nemo enim ipsam voluptatem quia voluptas aspernatur blandit tempus porttitor maxime denounce.
                                    </p>
                                </div>
                            </div>
                            <!-- End of Work Details -->
                            <!-- Start Work Img -->
                            <div class="work-img d-flex justify-content-center align-items-center text-center">
                                <img src="assets/img/resumes/1.png" alt="Urkis Resume">
                            </div>
                            <!-- End of Work Img -->
                        </div>
                        <!-- End of Single Work -->
                        <!-- Start Single Work -->
                        <div class="single-work d-flex">
                            <!-- Start Work Details -->
                            <div class="work-details">
                                <h6 class="office-name">Google</h6>
                                <span class="date-meta">OCT 2014 - JUNE 2017</span>
                                <h5 class="designation">UI/UX Designer</h5>
                                <div class="work-text">
                                    <p>
                                        Nemo enim ipsam voluptatem quia voluptas aspernatur blandit tempus porttitor maxime denounce.
                                    </p>
                                </div>
                            </div>
                            <!-- End of Work Details -->
                            <!-- Start Work Img -->
                            <div class="work-img d-flex justify-content-center align-items-center text-center">
                                <img src="assets/img/resumes/1.png" alt="Urkis Resume">
                            </div>
                            <!-- End of Work Img -->
                        </div>
                        <!-- End of Single Work -->
                    </div>
                </div>
                <!-- End of Work List Wrap -->
            </div>
        </div>
    </div>
</section>
<!-- End of Resume Area -->