<!-- Start Service Area -->
<div class="service-area section-gap--inner--top--r100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Start Section Title -->
                <div class="section-title text-center">
                    <h1>Services</h1>
                    <h6>What Can I do</h6>
                </div>
                <!-- End of Section Title -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <!-- Start Single Services -->
                <div class="single-service text-center">
                    <!-- Start Service Shape -->
                    <div class="service-shape">
                        <img src="assets/img/service-shape.png" alt="service Shape">
                    </div>
                    <!-- End of Service Shape -->
                    <!-- Start Service Icon -->
                    <div class="service-icon">
                        <img src="assets/img/service-icons/1.png" alt="UrKis Icon">
                    </div>
                    <!-- End of Service Icon -->
                    <!-- Start Service Content -->
                    <div class="service-content">
                        <h4>User Interface </h4>
                        <p>
                            Nemo enim ipsam voluptatem quia voluptas aspernatur blandit tempus porttitor maxime
                        </p>
                    </div>
                    <!-- End of Service Content -->
                </div>
                <!-- End of Single Service -->
            </div>
            <div class="col-lg-4">
                <!-- Start Single Services -->
                <div class="single-service text-center">
                    <!-- Start Service Shape -->
                    <div class="service-shape">
                        <img src="assets/img/service-shape.png" alt="service Shape">
                    </div>
                    <!-- End of Service Shape -->
                    <!-- Start Service Icon -->
                    <div class="service-icon theme-2">
                        <img src="assets/img/service-icons/1.png" alt="UrKis Icon">
                    </div>
                    <!-- End of Service Icon -->
                    <!-- Start Service Content -->
                    <div class="service-content">
                        <h4>User Experience</h4>
                        <p>
                            Nemo enim ipsam voluptatem quia voluptas aspernatur blandit tempus porttitor maxime
                        </p>
                    </div>
                    <!-- End of Service Content -->
                </div>
                <!-- End of Single Service -->
            </div>
            <div class="col-lg-4">
                <!-- Start Single Services -->
                <div class="single-service text-center">
                    <!-- Start Service Shape -->
                    <div class="service-shape">
                        <img src="assets/img/service-shape.png" alt="service Shape">
                    </div>
                    <!-- End of Service Shape -->
                    <!-- Start Service Icon -->
                    <div class="service-icon theme-3">
                        <img src="assets/img/service-icons/1.png" alt="UrKis Icon">
                    </div>
                    <!-- End of Service Icon -->
                    <!-- Start Service Content -->
                    <div class="service-content">
                        <h4>Web Development </h4>
                        <p>
                            Nemo enim ipsam voluptatem quia voluptas aspernatur blandit tempus porttitor maxime
                        </p>
                    </div>
                    <!-- End of Service Content -->
                </div>
                <!-- End of Single Service -->
            </div>
            <div class="col-lg-4">
                <!-- Start Single Services -->
                <div class="single-service text-center">
                    <!-- Start Service Shape -->
                    <div class="service-shape">
                        <img src="assets/img/service-shape.png" alt="service Shape">
                    </div>
                    <!-- End of Service Shape -->
                    <!-- Start Service Icon -->
                    <div class="service-icon theme-4">
                        <img src="assets/img/service-icons/1.png" alt="UrKis Icon">
                    </div>
                    <!-- End of Service Icon -->
                    <!-- Start Service Content -->
                    <div class="service-content">
                        <h4>Web Design</h4>
                        <p>
                            Nemo enim ipsam voluptatem quia voluptas aspernatur blandit tempus porttitor maxime
                        </p>
                    </div>
                    <!-- End of Service Content -->
                </div>
                <!-- End of Single Service -->
            </div>
            <div class="col-lg-4">
                <!-- Start Single Services -->
                <div class="single-service text-center">
                    <!-- Start Service Shape -->
                    <div class="service-shape">
                        <img src="assets/img/service-shape.png" alt="service Shape">
                    </div>
                    <!-- End of Service Shape -->
                    <!-- Start Service Icon -->
                    <div class="service-icon theme-5">
                        <img src="assets/img/service-icons/1.png" alt="UrKis Icon">
                    </div>
                    <!-- End of Service Icon -->
                    <!-- Start Service Content -->
                    <div class="service-content">
                        <h4>Digital Branding </h4>
                        <p>
                            Nemo enim ipsam voluptatem quia voluptas aspernatur blandit tempus porttitor maxime
                        </p>
                    </div>
                    <!-- End of Service Content -->
                </div>
                <!-- End of Single Service -->
            </div>
            <div class="col-lg-4">
                <!-- Start Single Services -->
                <div class="single-service text-center">
                    <!-- Start Service Shape -->
                    <div class="service-shape">
                        <img src="assets/img/service-shape.png" alt="service Shape">
                    </div>
                    <!-- End of Service Shape -->
                    <!-- Start Service Icon -->
                    <div class="service-icon theme-6">
                        <img src="assets/img/service-icons/1.png" alt="UrKis Icon">
                    </div>
                    <!-- End of Service Icon -->
                    <!-- Start Service Content -->
                    <div class="service-content">
                        <h4>App Development </h4>
                        <p>
                            Nemo enim ipsam voluptatem quia voluptas aspernatur blandit tempus porttitor maxime
                        </p>
                    </div>
                    <!-- End of Service Content -->
                </div>
                <!-- End of Single Service -->
            </div>
        </div>
    </div>
</div>
<!-- End of Service Area -->