<!-- JS
============================================ -->

<!-- Modernizer JS -->
<!-- <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script> -->

<!-- jQuery JS -->
<script src="assets/js/vendor/jquery-3.3.1.min.js"></script>

<!-- jquery-ui JS -->
<script src="assets/js/plugins/jquery-ui.min.js"></script>

<!-- Bootstrap JS -->
<script src="assets/js/vendor/bootstrap.bundle.min.js"></script>

<!-- Popper JS -->
<script src="assets/js/vendor/popper.min.js"></script>

<!-- owl-carousel JS -->
<script src="assets/js/plugins/owl.carousel.min.js"></script>

<!-- Plugins JS (Please remove the comment from below plugins.min.js for better website load performance and remove plugin js files from avobe) -->

<!--
<script src="assets/js/plugins/plugins.min.js"></script>
-->

<!-- Main JS -->
<script src="assets/js/main.js"></script>

</body>
    

</html>