
/*=============================================
=           11: Button            =
=============================================*/

.site-btn{
    display: inline-block;
    padding: 15px 34px;
    border-radius: 2px;
    transition: all .4s ease-in-out;
    background-size: 100% 100%;
    @extend .color-white;
    @extend .h-gradient-1;
    i{
        margin-right: 8px;
    }
    &.po-theme{
        @extend .h-gradient-2;
    }
    &:hover{
        background-position: 100% 0;
        background-size: 130% 100%;
        transition: all .4s ease-in-out;
        @extend .color-white;
    }
    &.theme-2{
        @extend .h-gradient-3;
    }
}

.icon-btn{
    background: transparent;
    border: 0;
}
.backToTop{
    height: 40px;
	width: 40px;
	border-radius: 50%;
	position: fixed;
	bottom: 45px;
	right: 40px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
	opacity: 0;
	visibility: hidden;
	z-index: 99;
	box-shadow: 0px 2px 6px 6px rgba(0,0,0,.06);
    @extend .theme-default-bg;
    @include medium{
        bottom: 62px;
    }
    
    @include mobileLg{
        bottom: 86px;
    }
    &.show {
        opacity: 1;
        visibility: visible;
    }
    a {
        i {
            font-size: 18px;
			@extend .color-white;
        }
        
    }
}

.bookmark{
    display: inline-block;
    padding: 4px 15px;
    border-radius: 4px;
    border: 1px solid #e7e7e7;
    @extend .color-white-bg;
    @extend .theme-default;
    i{
        margin-right: 8px;
    }
}

/*=====  End of Button  ======*/