
/*=============================================
=           12: section title            =
=============================================*/

.section-title{
    margin-top: -35px;
    margin-bottom: 40px;
    h1{
        font-size: 150px;
        text-transform: uppercase;
        color: #9248e9;
        opacity: .05;
        @include tab{
            font-size: 120px;
        }
        @include mobileMd{
            font-size: 80px;
        }
        @include mobileSm{
            font-size: 50px;
        }
    }
    h6{
        font-size: 36px;
        line-height: .94;
        margin-top: -76px;
        font-weight: $semi-bold;
        @include tab{
            font-size: 30px;
            margin-top: -60px
        }
        @include mobileMd{
            font-size: 26px;
            margin-top: -45px
        }
        @include mobileSm{
            font-size: 20px;
            margin-top: -30px
        }
    }
}

/*=====  End of section title  ======*/

