

/*=============================================
=           04: Common CSS          =
=============================================*/

/*=====  4.1: Common Styles  ======*/
input, textarea , .nice-select{
    width: 100%;
    border-radius: 3px;
    border: 1px solid rgba(40, 40, 40, 0.15);
    padding: 6px 20px;
    background-color: #f9f8fb;
    color: #b5bcd7;
}

.white-bg{
    @extend .color-white-bg;
}
.light-gray-bg{
    background-color: #f9f8fb;
}
.background-image{
    background-size: cover !important;
}

.owl-dots{
    .owl-dot{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        display: inline-block;
        background-color: #f8d2e2 !important;
        &:not(:last-child){
            margin-right: 8px;
        }
        &.active{
            width: 20px;
            height: 10px;
            border-radius: 5px;
            background-color: $theme-color--default !important;
        }
    }
}
.shape{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    &.bottom-shape{
        top: auto;
        bottom: 0;
    }
    &.shape-right{
        left: auto;
        right: 0;
        top: -50%;
        z-index: 1;
    }
}
.comment-count{
    display: flex;
    align-items: baseline;
    margin-left: 4px;
    i{
        margin-right: 3px;
    }
}

.shade{
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: visible;
    z-index: -1;
    @extend .color-white-bg;
    &.active{
        z-index: 999;
    }
}


	

