@include colors($theme-color--default,theme-default);
@include colors($theme-color--secondary,theme-secondary);
@include colors($theme-color--text,theme-text);
@include colors($theme-color--heading,theme-heading);
@include colors($white,color-white);
@include colors($black,theme-black);


// Gradient
.v-gradient-1{
    @include vertical-gradient(#9248e9,#ff458a);
}

.v-gradient-2{
    @include vertical-gradient(#ff458a,#9248e9);
}

.v-gradient-3{
    @include vertical-gradient(#3b7cfd,#9248e9);
}
.v-gradient-4{
    @include vertical-gradient(#ff458a,#fa8b0c);
}
.v-gradient-5{
    @include vertical-gradient(#2dd46f,#3b7cfd);
}
.v-gradient-6{
    @include vertical-gradient(#3b7cfd,#0ad9fe);
}
.v-gradient-7{
    @include vertical-gradient(#9248e9,#db7aff);
}

.h-gradient-1{
    @include horizontal-gradient(#ff458a,#9248e9);
}

.h-gradient-2{
    @include horizontal-gradient(#9248e9,#ff458a);
}

.h-gradient-3{
    @include horizontal-gradient(#ff458a,#fa8b0c);
}
