
/*=============================================
=           03: spacing            =
=============================================*/

.section-gap{
    
    &--inner{

        &--30{
            padding-top: 30px;
            padding-bottom: 30px;
        }
        
        &--r90{
            padding-top: 90px;
            padding-bottom: 90px;

            @include tab{
                padding-top: 60px;
                padding-bottom: 60px;
            }

            @include mobileLg{
                padding-top: 40px;
                padding-bottom: 40px;
            }
        }

        &--r120{
            padding-top: 120px;
            padding-bottom: 120px;

            @include tab{
                padding-top: 80px;
                padding-bottom: 80px;
            }

            @include mobileLg{
                padding-top: 60px;
                padding-bottom: 60px;
            }
        }

        &--top{
            &--r130{
                padding-top: 130px;
    
                @include tab{
                    padding-top: 80px;
                }
    
                @include mobileLg{
                    padding-top: 60px;
                }
            }
        }
        &--top{
            &--r100{
                padding-top: 100px;
    
                @include tab{
                    padding-top: 70px;
                }
    
                @include mobileLg{
                    padding-top: 50px;
                }
            }
        }

        &--bottom{
            &--r100{
                padding-bottom: 100px;
    
                @include tab{
                    padding-bottom: 70px;
                }
    
                @include mobileLg{
                    padding-bottom: 50px;
                }
            }
        }

    }

    &--bottom{
        &--15{
            margin-bottom: 15px;
        }

        &--20{
            margin-bottom: 20px;
        }

        &--30{
            margin-bottom: 30px;
        }

        &--r50{
            margin-bottom: 50px;
            @include tab{
                margin-bottom: 40px;
            }
            @include mobileLg{
                margin-bottom: 30px;
            }
        }

        &--r60{
            margin-bottom: 60px;
            @include tab{
                margin-bottom: 50px;
            }
            @include mobileLg{
                margin-bottom: 30px;
            }
        }

        

        &--r100{
            margin-bottom: 100px;
            @include tab{
                margin-bottom: 80px;
            }
            @include mobileLg{
                margin-bottom: 60px;
            }
        }
    }
}

.mt-md-20{
    @include tab{
        margin-top: 20px;
    }
}

/*=====  End of spacing  ======*/