/*=============================================

    Template Name: Urkis
    -----------------------
    Template Author: AazzTech
    -------------------------
    Version: 1.0
    ------------


/*=============================================
=            CSS Index            =
=============================================

    1:- Helper CSS
    2:- Default styles
    3:- Spacing
    4:- Common
        3.1:- Common Styles
    5:- Header
        5.1:- Main Menu
        5.2:- Mobile Menu
    6:- Banner
        6.1:- Banner Content
    7:- About
        7.1:- About Content
        7.2:- Skill Block
    8:- Services
        8.1:- Single Service
    9:- Resume
        9.1:- Single Work
    10:- Footer
        10.1:- Contact Form
        10.1:- Footer Bottom
    11:- Button
    12:- Section title
    13:- Scroll top


/*=====  End of CSS Index  ======*/

.theme-default,
.main-menu ul li a:hover,
.offcanvas-menu-inner .main-menu ul li a:hover,
.banner-content .pink-text,
.bookmark {
	color: #ff458a;
}

.theme-default-bg,
.page-item.active .page-link,
div.dataTables_wrapper div.dataTables_paginate ul.pagination .page-item.active .page-link:focus,
.backToTop {
	background-color: #ff458a;
}

.theme-secondary {
	color: #5a5a5a;
}

.theme-secondary-bg {
	background-color: #5a5a5a;
}

.theme-text,
body,
.banner-content .intro-text {
	color: #7a82a6;
}

.theme-text-bg {
	background-color: #7a82a6;
}

.theme-heading {
	color: #272b41;
}

.theme-heading-bg,
.menu-trigger span {
	background-color: #272b41;
}

.color-white,
.offcanvas-cancel,
.single-work .work-details,
.single-work .work-details .office-name,
.single-work .work-details .designation,
.copyright-text p,
.copyright-text p a:hover,
.social-links ul li a,
.site-btn,
.site-btn:hover,
.backToTop a i {
	color: #ffffff;
}

.color-white-bg,
.white-bg,
.shade,
.offcanvas-menu .offcanvas-close .close-icon:after,
.offcanvas-menu .offcanvas-close .close-icon:before,
.skill-circle,
.single-work .work-img,
.contact-form,
.social-links ul li a:after,
.bookmark {
	background-color: #ffffff;
}

.theme-black {
	color: #000000;
}

.theme-black-bg {
	background-color: #000000;
}

.v-gradient-1,
.single-service .service-icon {
	background: #9248e9;
	background: -webkit-linear-gradient(30deg, #9248e9 0%, #ff458a 100%);
	background: -webkit-linear-gradient(60deg, #9248e9 0%, #ff458a 100%);
	background: -o-linear-gradient(60deg, #9248e9 0%, #ff458a 100%);
	background: linear-gradient(30deg, #9248e9 0%, #ff458a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9248e9', endColorstr='#ff458a',GradientType=0);
}

.v-gradient-2,
.contact-form .contact-icon:after {
	background: #ff458a;
	background: -webkit-linear-gradient(30deg, #ff458a 0%, #9248e9 100%);
	background: -webkit-linear-gradient(60deg, #ff458a 0%, #9248e9 100%);
	background: -o-linear-gradient(60deg, #ff458a 0%, #9248e9 100%);
	background: linear-gradient(30deg, #ff458a 0%, #9248e9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff458a', endColorstr='#9248e9',GradientType=0);
}

.v-gradient-3,
.single-service .service-icon.theme-2 {
	background: #3b7cfd;
	background: -webkit-linear-gradient(30deg, #3b7cfd 0%, #9248e9 100%);
	background: -webkit-linear-gradient(60deg, #3b7cfd 0%, #9248e9 100%);
	background: -o-linear-gradient(60deg, #3b7cfd 0%, #9248e9 100%);
	background: linear-gradient(30deg, #3b7cfd 0%, #9248e9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b7cfd', endColorstr='#9248e9',GradientType=0);
}

.v-gradient-4,
.single-service .service-icon.theme-3 {
	background: #ff458a;
	background: -webkit-linear-gradient(30deg, #ff458a 0%, #fa8b0c 100%);
	background: -webkit-linear-gradient(60deg, #ff458a 0%, #fa8b0c 100%);
	background: -o-linear-gradient(60deg, #ff458a 0%, #fa8b0c 100%);
	background: linear-gradient(30deg, #ff458a 0%, #fa8b0c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff458a', endColorstr='#fa8b0c',GradientType=0);
}

.v-gradient-5,
.single-service .service-icon.theme-4 {
	background: #2dd46f;
	background: -webkit-linear-gradient(30deg, #2dd46f 0%, #3b7cfd 100%);
	background: -webkit-linear-gradient(60deg, #2dd46f 0%, #3b7cfd 100%);
	background: -o-linear-gradient(60deg, #2dd46f 0%, #3b7cfd 100%);
	background: linear-gradient(30deg, #2dd46f 0%, #3b7cfd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2dd46f', endColorstr='#3b7cfd',GradientType=0);
}

.v-gradient-6,
.single-service .service-icon.theme-5 {
	background: #3b7cfd;
	background: -webkit-linear-gradient(30deg, #3b7cfd 0%, #0ad9fe 100%);
	background: -webkit-linear-gradient(60deg, #3b7cfd 0%, #0ad9fe 100%);
	background: -o-linear-gradient(60deg, #3b7cfd 0%, #0ad9fe 100%);
	background: linear-gradient(30deg, #3b7cfd 0%, #0ad9fe 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b7cfd', endColorstr='#0ad9fe',GradientType=0);
}

.v-gradient-7,
.single-service .service-icon.theme-6 {
	background: #9248e9;
	background: -webkit-linear-gradient(30deg, #9248e9 0%, #db7aff 100%);
	background: -webkit-linear-gradient(60deg, #9248e9 0%, #db7aff 100%);
	background: -o-linear-gradient(60deg, #9248e9 0%, #db7aff 100%);
	background: linear-gradient(30deg, #9248e9 0%, #db7aff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9248e9', endColorstr='#db7aff',GradientType=0);
}

.h-gradient-1,
.site-btn {
	background: 30deg;
	background: #ff458a;
	background: -webkit-linear-gradient(left, #ff458a 0%, #9248e9 100%);
	background: -webkit-gradient(linear, left top, right top, from(#ff458a), to(#9248e9));
	background: -o-linear-gradient(left, #ff458a 0%, #9248e9 100%);
	background: linear-gradient(to right, #ff458a 0%, #9248e9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff458a', endColorstr='#9248e9',GradientType=1);
}

.h-gradient-2,
.single-work,
.site-btn.po-theme {
	background: 30deg;
	background: #9248e9;
	background: -webkit-linear-gradient(left, #9248e9 0%, #ff458a 100%);
	background: -webkit-gradient(linear, left top, right top, from(#9248e9), to(#ff458a));
	background: -o-linear-gradient(left, #9248e9 0%, #ff458a 100%);
	background: linear-gradient(to right, #9248e9 0%, #ff458a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9248e9', endColorstr='#ff458a',GradientType=1);
}

.h-gradient-3,
.site-btn.theme-2 {
	background: 30deg;
	background: #ff458a;
	background: -webkit-linear-gradient(left, #ff458a 0%, #fa8b0c 100%);
	background: -webkit-gradient(linear, left top, right top, from(#ff458a), to(#fa8b0c));
	background: -o-linear-gradient(left, #ff458a 0%, #fa8b0c 100%);
	background: linear-gradient(to right, #ff458a 0%, #fa8b0c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff458a', endColorstr='#fa8b0c',GradientType=1);
}

/*=============================================
=            01: Helper CSS            =
=============================================*/

/* no gutters */

.no-gutters {
	margin-left: 0;
	margin-right: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
	padding-right: 0;
	padding-left: 0;
	margin: 0;
}

/*=====  End of Helper CSS  ======*/

/*=============================================
=          02:  Default CSS            =
=============================================*/

*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	line-height: 2.13;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	visibility: visible;
	font-family: "Poppins";
	position: relative;
	background-color: #fff;
	overflow-x: hidden;
}

body.no-overflow {
	overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #272b41;
	font-family: "Poppins";
	font-weight: 600;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.23;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 34px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 16px;
}

p:last-child {
	margin-bottom: 0;
}

a,
button {
	color: inherit;
	display: inline-block;
	line-height: inherit;
	text-decoration: none;
	cursor: pointer;
}

*:focus {
	outline: none !important;
}

a:focus {
	color: inherit;
	outline: none;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: #ff458a;
}

button,
input[type="submit"] {
	cursor: pointer;
}

ul {
	list-style: outside none none;
	margin: 0;
	padding: 0;
}

textarea {
	resize: none;
}

img {
	max-width: 100%;
	height: auto;
}

/*-- Tab Content & Pane Fix --*/

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	padding-right: 15px;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' height='10px' width='15px'%3E%3Ctext x='0' y='10' fill='black'%3E%E2%96%BE%3C/text%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: 95% 50%;
}

::-moz-selection {
	color: #ffffff;
	background-color: #ff458a;
}

::selection {
	color: #ffffff;
	background-color: #ff458a;
}

.ps__rail-y {
	opacity: .25;
	width: 10px;
}

.ps__rail-y > .ps__thumb-y {
	background-color: #333;
	cursor: pointer;
}

.page-item.active .page-link {
	border-color: #ff458a;
}

/*=====  End of Default CSS  ======*/

/*=============================================
=           03: spacing            =
=============================================*/

.section-gap--inner--30 {
	padding-top: 30px;
	padding-bottom: 30px;
}

.section-gap--inner--r90 {
	padding-top: 90px;
	padding-bottom: 90px;
}

.section-gap--inner--r120 {
	padding-top: 120px;
	padding-bottom: 120px;
}

.section-gap--inner--top--r130 {
	padding-top: 130px;
}

.section-gap--inner--top--r100 {
	padding-top: 100px;
}

.section-gap--inner--bottom--r100 {
	padding-bottom: 100px;
}

.section-gap--bottom--15 {
	margin-bottom: 15px;
}

.section-gap--bottom--20 {
	margin-bottom: 20px;
}

.section-gap--bottom--30 {
	margin-bottom: 30px;
}

.section-gap--bottom--r50 {
	margin-bottom: 50px;
}

.section-gap--bottom--r60 {
	margin-bottom: 60px;
}

.section-gap--bottom--r100 {
	margin-bottom: 100px;
}

/*=====  End of spacing  ======*/

/*=============================================
=           04: Common CSS          =
=============================================*/

/*=====  4.1: Common Styles  ======*/

input,
textarea,
.nice-select {
	width: 100%;
	border-radius: 3px;
	border: 1px solid rgba(40, 40, 40, 0.15);
	padding: 6px 20px;
	background-color: #f9f8fb;
	color: #b5bcd7;
}

.light-gray-bg {
	background-color: #f9f8fb;
}

.background-image {
	background-size: cover !important;
}

.owl-dots .owl-dot {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	display: inline-block;
	background-color: #f8d2e2 !important;
}

.owl-dots .owl-dot:not(:last-child) {
	margin-right: 8px;
}

.owl-dots .owl-dot.active {
	width: 20px;
	height: 10px;
	border-radius: 5px;
	background-color: #ff458a !important;
}

.shape {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.shape.bottom-shape {
	top: auto;
	bottom: 0;
}

.shape.shape-right {
	left: auto;
	right: 0;
	top: -50%;
	z-index: 1;
}

.comment-count {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: baseline;
	-webkit-align-items: baseline;
	-ms-flex-align: baseline;
	align-items: baseline;
	margin-left: 4px;
}

.comment-count i {
	margin-right: 3px;
}

.shade {
	position: fixed;
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: visible;
	z-index: -1;
}

.shade.active {
	z-index: 999;
}

/*=============================================
=            05: Header            =
=============================================*/

.header-inner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
}

/*===== 5.1: Main Menu  ======*/

.main-menu ul li {
	display: inline-block;
}

.main-menu ul li:not(:last-child) {
	margin-right: 24px;
}

.main-menu ul li a {
	font-size: 14px;
	padding: 30px 0;
}

.menu-trigger {
	display: none;
	cursor: pointer;
}

.menu-trigger span {
	width: 25px;
	height: 2px;
	display: block;
}

.menu-trigger span:not(:last-child) {
	margin-bottom: 6px;
}

.menu-trigger:hover span:nth-child(2) {
	width: 25px;
}

/*====  5.2: Mobile Menu =====*/

.offcanvas-menu {
	position: fixed;
	z-index: 999;
	background-color: #fff;
	-webkit-box-shadow: 0 21px 81px rgba(0, 0, 0, 0.1);
	box-shadow: 0 21px 81px rgba(0, 0, 0, 0.1);
	z-index: -1;
	height: 100%;
	width: 320px;
	top: 0;
	right: -100%;
	opacity: 0;
	overflow: auto;
	-webkit-transition: .7s;
	-o-transition: .7s;
	transition: .7s;
}

.offcanvas-menu.show {
	opacity: 1;
	width: 300px;
	height: 100%;
	z-index: 9999;
	top: 0;
	right: 0;
	bottom: 0;
}

.offcanvas-menu .offcanvas-close {
	position: absolute;
	left: 10px;
	top: 10px;
	line-height: 1.3;
	background-color: #dc3545;
	z-index: 9999;
}

.offcanvas-menu .offcanvas-close .close-icon {
	width: 30px;
	height: 30px;
	position: relative;
	display: inline-block;
}

.offcanvas-menu .offcanvas-close .close-icon:after,
.offcanvas-menu .offcanvas-close .close-icon:before {
	position: absolute;
	left: 15px;
	top: 8px;
	width: 2px;
	height: 18px;
	content: "";
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.offcanvas-menu .offcanvas-close .close-icon:before {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.offcanvas-menu-inner {
	position: relative;
}

.offcanvas-menu-inner .main-menu {
	padding-top: 60px;
}

.offcanvas-menu-inner .main-menu.text-right {
	text-align: left !important;
}

.offcanvas-menu-inner .main-menu ul {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-flow: column;
	-ms-flex-flow: column;
	flex-flow: column;
	-webkit-box-pack: start !important;
	-webkit-justify-content: start !important;
	-ms-flex-pack: start !important;
	justify-content: start !important;
	-webkit-box-align: start !important;
	-webkit-align-items: flex-start !important;
	-ms-flex-align: start !important;
	align-items: flex-start !important;
}

.offcanvas-menu-inner .main-menu ul li {
	display: block;
	margin-bottom: 0;
	padding: 0px;
	border-bottom: 1px solid #e7e7e7;
	position: relative;
	width: 100%;
}

.offcanvas-menu-inner .main-menu ul li.has-sub-menu .submenu-button {
	position: absolute;
	right: 0;
	height: 25px;
	width: 25px;
	top: 13.5px;
	cursor: pointer;
}

.offcanvas-menu-inner .main-menu ul li.has-sub-menu .submenu-button:after {
	position: absolute;
	right: 30px;
	top: 0;
	display: block;
	font-family: "FontAwesome";
	content: "\f107";
}

.offcanvas-menu-inner .main-menu ul li.has-sub-menu .submenu-button.sub-menu-oppened:after {
	content: "\f106";
}

.offcanvas-menu-inner .main-menu ul li:first-child {
	border-top: 1px solid #e7e7e7;
}

.offcanvas-menu-inner .main-menu ul li:last-child {
	margin-bottom: 0;
}

.offcanvas-menu-inner .main-menu ul li a {
	display: inline-block;
	font-size: 16px;
	font-weight: 500;
	padding: 15px;
	width: 100%;
}

.offcanvas-menu-inner .main-menu ul li a img {
	max-width: 100px;
}

.offcanvas-menu-inner .main-menu ul li a:after {
	display: none;
}

.offcanvas-menu-inner .main-menu ul li > ul {
	display: none;
	padding: 0;
	position: static;
	opacity: 1;
	visibility: visible;
	-webkit-box-shadow: 0 0;
	box-shadow: 0 0;
}

.offcanvas-menu-inner .main-menu ul li > ul li a {
	margin: 0;
	padding: 10px 0;
}

.offcanvas-menu-inner .main-menu ul li > ul li a:after {
	bottom: 20px;
	width: 100%;
}

.offcanvas-menu-inner .main-menu ul li ul {
	padding-left: 20px;
	width: 100%;
}

.offcanvas-menu-inner .main-menu ul li ul li.has-sub-menu .submenu-button {
	position: absolute;
	right: 0;
	height: 25px;
	width: 25px;
	top: 8.5px;
	cursor: pointer;
}

.offcanvas-menu-inner .main-menu ul li ul li.has-sub-menu .submenu-button:after {
	position: absolute;
	right: 30px;
	top: 0;
	display: block;
	font-family: "FontAwesome";
	content: "\f107";
}

.offcanvas-menu-inner .main-menu ul li ul li.has-sub-menu .submenu-button.sub-menu-oppened:after {
	content: "\f106";
}

.offcanvas-cancel {
	display: inline-block;
	padding: 2px 10px;
	background-color: #dc3545;
}

.offcanvas-cancel i {
	font-size: 18px;
}

/*=====  End of Header  ======*/

/*=============================================
=          06:  Banner CSS            =
=============================================*/

.banner-inner {
	position: relative;
	padding-top: 174px;
	padding-bottom: 90px;
}

.banner-inner .banner-shape {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.banner-inner .banner-pattern .icon {
	position: absolute;
}

.banner-inner .banner-pattern .icon.icon-one {
	top: 225px;
	right: 18%;
}

.banner-inner .banner-pattern .icon.icon-two {
	top: 52%;
	right: 8%;
}

.banner-inner .banner-pattern .icon.icon-three {
	top: 120px;
	right: 0%;
}

/*=====  6.1: Banner Content  ======*/

.banner-content .intro-text {
	font-size: 48px;
	line-height: 1.26;
}

.banner-content span {
	font-size: 60px;
	line-height: 1.58;
}

.banner-content span + span {
	display: block;
}

.banner-content p {
	max-width: 370px;
	margin-bottom: 0;
}

.banner-content .site-btn {
	margin-top: 30px;
}

/*=============================================
=           06: About CSS            =
=============================================*/

/*=====  6.1: About Content  ======*/

.about-content .site-btn {
	margin-top: 14px;
}

/*===== 6.2: Skill Block  ======*/

.single-skill-block {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 50%;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
}

.single-skill-block + .single-skill-block {
	margin-left: 40px;
}

.skill-circle {
	position: relative;
	text-align: center;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	-webkit-box-shadow: 0 20px 80px rgba(0, 0, 0, 0.1);
	box-shadow: 0 20px 80px rgba(0, 0, 0, 0.1);
}

.skill-circle .skill-ratio {
	position: absolute;
	top: 15px;
	left: 15px;
}

.skill-circle h6 {
	font-size: 15px;
	font-weight: 400;
	max-width: 86px;
}

.skill-circle + .skill-circle {
	margin-top: 50px;
}

/*=============================================
=           08: Service CSS            =
=============================================*/

/*=====  8.1: Single Service  ======*/

.single-service {
	max-width: 350px;
	margin: 0 auto;
	margin-bottom: 30px;
	border-radius: 3px;
	padding: 40px 30px;
	padding-bottom: 32px;
	-webkit-box-shadow: 0 5px 60px rgba(0, 0, 0, 0.1);
	box-shadow: 0 5px 60px rgba(0, 0, 0, 0.1);
	position: relative;
}

.single-service:hover .service-icon img {
	-webkit-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}

.single-service .service-icon {
	display: inline-block;
	margin-bottom: 25px;
	width: 90px;
	height: 90px;
	line-height: 90px;
	text-align: center;
	border-radius: 50%;
}

.single-service .service-icon img {
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}

.single-service .service-shape {
	position: absolute;
	left: 0;
	top: 0;
}

.single-service .service-content h4 {
	font-size: 18px;
	margin-bottom: 20px;
	font-weight: 400;
}

/*=============================================
=            Resume CSS            =
=============================================*/

.work-list-wrap {
	-webkit-box-shadow: 0 20px 80px rgba(0, 0, 0, 0.1);
	box-shadow: 0 20px 80px rgba(0, 0, 0, 0.1);
	margin-bottom: 70px;
}

.work-list-wrap .owl-dots {
	position: absolute;
	left: 50%;
	margin-left: -50px;
	bottom: -70px;
}

/*=====  Single Work  ======*/

.single-work .work-details {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 50%;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	padding: 50px;
}

.single-work .work-details .office-name {
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 10px;
}

.single-work .work-details .date-meta {
	font-size: 14px;
	margin-bottom: 8px;
	opacity: .7;
}

.single-work .work-details .designation {
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 25px;
}

.single-work .work-details .work-text p {
	opacity: .7;
}

.single-work .work-img {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 50%;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
}

.single-work .work-img img {
	width: auto !important;
}

/*=============================================
=           10: footer CSS         =
=============================================*/

.footer-area {
	position: relative;
}

.footer-area .bottom-shape {
	top: auto;
	bottom: 0;
}

/* ==== 10.1: Contact Form =====*/

.contact-form {
	position: relative;
	z-index: 2;
	padding: 50px 95px;
	-webkit-box-shadow: 0 10px 60px rgba(0, 0, 0, 0.15);
	box-shadow: 0 10px 60px rgba(0, 0, 0, 0.15);
}

.contact-form .contact-top {
	max-width: 550px;
	margin: 0 auto;
}

.contact-form .contact-icon {
	width: 90px;
	height: 90px;
	line-height: 90px;
	border-radius: 50%;
	position: relative;
	margin: 0 auto;
	margin-bottom: 35px;
}

.contact-form .contact-icon:after {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: "";
	opacity: .1;
}

.contact-form h4 {
	margin-bottom: 25px;
	font-size: 30px;
	font-weight: 600;
}

.contact-form p {
	font-size: 15x;
	margin-bottom: 25px;
}

.contact-form .form-row .site-btn {
	margin-left: 5px;
}

.contact-form .form-element {
	margin-bottom: 20px;
}

.contact-form .form-element .textarea {
	min-height: 130px;
}

/*=====  10.2: Footer Bottom ====*/

.footer-bottom {
	padding: 35px 0;
}

.copyright-text p {
	font-size: 14px;
}

.copyright-text p a {
	-webkit-transition: .35s;
	-o-transition: .35s;
	transition: .35s;
}

.social-links ul li {
	display: inline-block;
}

.social-links ul li:not(:last-child) {
	margin-right: 8px;
}

.social-links ul li a {
	display: inline-block;
	position: relative;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 50%;
	opacity: .6;
}

.social-links ul li a:after {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	opacity: .1;
	content: "";
}

.social-links ul li a:hover {
	opacity: 1;
}

/*=====  End of footer ======*/

/*=============================================
=           11: Button            =
=============================================*/

.site-btn {
	display: inline-block;
	padding: 15px 34px;
	border-radius: 2px;
	-webkit-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	background-size: 100% 100%;
}

.site-btn i {
	margin-right: 8px;
}

.site-btn:hover {
	background-position: 100% 0;
	background-size: 130% 100%;
	-webkit-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

.icon-btn {
	background: transparent;
	border: 0;
}

.backToTop {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	position: fixed;
	bottom: 45px;
	right: 40px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
	opacity: 0;
	visibility: hidden;
	z-index: 99;
	-webkit-box-shadow: 0px 2px 6px 6px rgba(0, 0, 0, 0.06);
	box-shadow: 0px 2px 6px 6px rgba(0, 0, 0, 0.06);
}

.backToTop.show {
	opacity: 1;
	visibility: visible;
}

.backToTop a i {
	font-size: 18px;
}

.bookmark {
	display: inline-block;
	padding: 4px 15px;
	border-radius: 4px;
	border: 1px solid #e7e7e7;
}

.bookmark i {
	margin-right: 8px;
}

/*=====  End of Button  ======*/

/*=============================================
=           12: section title            =
=============================================*/

.section-title {
	margin-top: -35px;
	margin-bottom: 40px;
}

.section-title h1 {
	font-size: 150px;
	text-transform: uppercase;
	color: #9248e9;
	opacity: .05;
}

.section-title h6 {
	font-size: 36px;
	line-height: .94;
	margin-top: -76px;
	font-weight: 600;
}

/*=====  End of section title  ======*/

@media only screen and (max-width: 1199px) {

h2 {
	font-size: 30px;
}

h3 {
	font-size: 28px;
}

.backToTop {
	bottom: 62px;
}

}

@media only screen and (max-width: 991px) {

h2 {
	font-size: 24px;
}

h3 {
	font-size: 22px;
}

.section-gap--inner--r90 {
	padding-top: 60px;
	padding-bottom: 60px;
}

.section-gap--inner--r120 {
	padding-top: 80px;
	padding-bottom: 80px;
}

.section-gap--inner--top--r130 {
	padding-top: 80px;
}

.section-gap--inner--top--r100 {
	padding-top: 70px;
}

.section-gap--inner--bottom--r100 {
	padding-bottom: 70px;
}

.section-gap--bottom--r50 {
	margin-bottom: 40px;
}

.section-gap--bottom--r60 {
	margin-bottom: 50px;
}

.section-gap--bottom--r100 {
	margin-bottom: 80px;
}

.mt-md-20 {
	margin-top: 20px;
}

.header-inner {
	padding: 15px 0;
}

.menu-trigger {
	display: block;
}

.banner-content {
	margin-bottom: 30px;
	text-align: center;
}

.banner-content p {
	margin: 0 auto;
}

.banner-img {
	text-align: center;
}

.about-area .section-title {
	text-align: center;
}

.about-content {
	text-align: center;
}

.skill-list {
	margin-top: 30px;
}

.skill-list.pull-right {
	float: none !important;
}

.footer-bottom {
	text-align: center;
}

.social-links.text-right {
	margin-top: 15px;
	text-align: center !important;
}

.section-title h1 {
	font-size: 120px;
}

.section-title h6 {
	font-size: 30px;
	margin-top: -60px;
}

}

@media only screen and (max-width: 767px) {

h2 {
	font-size: 22px;
}

h3 {
	font-size: 20px;
}

.section-gap--inner--r90 {
	padding-top: 40px;
	padding-bottom: 40px;
}

.section-gap--inner--r120 {
	padding-top: 60px;
	padding-bottom: 60px;
}

.section-gap--inner--top--r130 {
	padding-top: 60px;
}

.section-gap--inner--top--r100 {
	padding-top: 50px;
}

.section-gap--inner--bottom--r100 {
	padding-bottom: 50px;
}

.section-gap--bottom--r50 {
	margin-bottom: 30px;
}

.section-gap--bottom--r60 {
	margin-bottom: 30px;
}

.section-gap--bottom--r100 {
	margin-bottom: 60px;
}

.banner-inner .banner-shape {
	left: -40%;
}

.about-area .shape {
	display: none;
}

.single-work .work-details {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 100%;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
}

.single-work .work-img {
	display: none;
}

.contact-form {
	padding: 25px 50px;
}

.backToTop {
	bottom: 86px;
}

}

@media only screen and (max-width: 575px) {

.banner-content .intro-text {
	font-size: 36px;
}

.banner-content span {
	font-size: 50px;
}

.skill-circle {
	width: 150px;
	height: 150px;
}

.skill-circle .skill-ratio img {
	max-width: 120px;
}

.section-title h1 {
	font-size: 80px;
}

.section-title h6 {
	font-size: 26px;
	margin-top: -45px;
}

}

@media only screen and (max-width: 479px) {

.banner-inner .banner-shape {
	left: -80%;
}

.banner-inner .banner-pattern {
	display: none;
}

.banner-content .intro-text {
	font-size: 30px;
}

.banner-content span {
	font-size: 32px;
}

.single-skill-block + .single-skill-block {
	margin-left: 15px;
}

.skill-circle {
	width: 130px;
	height: 130px;
}

.contact-form h4 {
	font-size: 20px;
}

.footer-bottom {
	padding: 10px 0;
}

.social-links.text-right {
	margin-top: 8px;
}

.section-title h1 {
	font-size: 50px;
}

.section-title h6 {
	font-size: 20px;
	margin-top: -30px;
}

}

@media only screen and (max-width: 379px) {

.skill-circle .skill-ratio img {
	max-width: 100px;
}

}

